body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    background-image: url("../recursos/img/fondo.jpg");
    background-size: cover; /* Cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    height: 100vh; /* Toma el 100% de la altura de la ventana */
}
.avatar-container {
    text-align: center;
    margin-top: -70px;
  }

  .avatar {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}