#miTabla {
    /* Estilos personalizados para la tabla */
    border-collapse: collapse;
    width: 100%;
}

#miTabla th, #miTabla td {
    /* Estilos personalizados para las celdas de encabezado y datos */
    border: 2px solid #ddd; /* Bordes de 2 píxeles sólidos */
    padding: 8px; /* Espaciado interno de las celdas */
}

#miTabla th {
    /* Estilos adicionales para las celdas de encabezado */
    background-color: #f2f2f2; /* Color de fondo gris claro */
    color: #333; /* Color de texto */
}

#miTabla td {
    /* Estilos adicionales para las celdas de datos */
    color: #555; /* Color de texto más oscuro */
}

/* Bordes más gruesos y de color negro pálido */
#miTabla th, #miTabla td {
    border: 2px solid #bbb;
}


 /* Estilos para el mensaje emergente */
 .tooltip-button {
    position: relative;
}