*{
  color: black;
}


#linkNombre a {
    cursor: pointer;
    text-decoration: none; /* Esto elimina el subrayado predeterminado del enlace */
    color: #000; /* Cambia el color del texto del enlace */
    transition: color 0.3s ease; /* Agrega una transición suave al cambio de color */
  font-weight: bold;
}

.readonly-field[readonly] {
    background-color: #f2f2f2; /* Cambia el color de fondo según tus preferencias */
    color: #555; /* Cambia el color del texto según tus preferencias */
}

body{
  background-color: #F4F6F9;
}


#linkNombre a:hover {
    color: #098f09; /* Cambia el color del texto del enlace al pasar el mouse sobre él */
}

body .page-wrapper .card {
  
  border-radius: 5px;
}

body .page-wrapper .card .card-header {
  background-color: #CFFFE2; /* 0.5 representa el 50% de transparencia */
  border: solid #098f0927;
}



 


body .page-wrapper .card .card-body {
  border-radius: 5px;
}
body .page-wrapper .card .card-footer {
  background-color: white;
}
body .page-wrapper .card .card-header .card-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
}
label{
  font-weight: bold;
}

body .page-wrapper .card .modal .modal-dialog .modal-content{
  border: 2px solid rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
  border-radius: 5px;
}
body .page-wrapper .card .modal .modal-dialog .modal-content .modal-header {
  background-color: rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
}
body .page-wrapper .card .modal .modal-dialog .modal-content .modal-header .modal-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
}


.error-message {
  color: rgba(236, 57, 57, 0.616);
  background-color: #FEE7E1;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  border: 1px solid rgba(242, 75, 75, 0.728); /* Añadir borde rojo */
  border-radius: 10px;
  padding: 5px; /* Añadir relleno para mejorar el aspecto visual */
}



body .container-fluid #naranja{
  background-color: #FFC107;


}
body .container-fluid .card-body .iz h3{
  font-weight: bold;
  font-size: 40px;

 
}

body .container-fluid .card-body .icon {
  font-size: 50px;
  transition: font-size 0.1s ease; /* Transición para el cambio de tamaño con duración de 0.3 segundos y función de temporización ease */
}

body .container-fluid .card-body .icon:hover {
  font-size: 55px; /* Tamaño aumentado al pasar el cursor */
}

body .container-fluid #verde{
  background-color: #28A745;

}
body .container-fluid .card-body .iz{
  font-weight: bold;
  font-size: 40px;
}



/* Estilos iniciales */
td{
  text-align: center;

}
td button#celeste {
  background-color: #17A2B8;
}
td button#naranja {
  background-color: #d0a517;
}

td button#rojo {
  background-color: #DC3545;
}

td button i {
  color: white;
  
}

td button {
  display: inline-block;
  font-weight: 400;
  border-radius: 0.2rem;
  border: none;
  transition: background-color 0.3s;
  text-align: center;
  padding: .5rem .8rem;
  font-size: 1rem;
  line-height: 1.5;

}

/* Efecto hover */
td button#celeste:hover {
  background-color: #126a7f;
}

td button#rojo:hover {
  background-color: #ac2b38;
}

td button#naranja:hover {
  background-color: #897227;
}


/*ESTADOS*/
tbody td.operando {
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: bold;
  
  border-radius: 8px; /* Añade bordes redondeados */
  display: inline-table;
}

tbody td.operando:hover {
  background-color: darkgreen;
}



tbody td.Deshabilitado {
  background-color: rgb(193, 29, 29);
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  padding: 8px; /* Añade espacio interno a la celda */
  border-radius: 8px; /* Añade bordes redondeados */
}

tbody td.Deshabilitado:hover {
  background-color: rgb(134, 24, 24);
}




/*BOTONES REGISTRO Y PDF*/
 .container-fluid .botones_container .celeste button{
  background-color: #17A2B8;
  color: white;
  padding: 10px; /* Ajusta el espaciado interior según sea necesario */
  border: none; /* Elimina el borde si no es necesario */
  cursor: pointer; /* Añade un indicador de cursor para resaltar la interactividad */
}

.container-fluid .botones_container .celeste button:hover {
  background-color: #0f606d; /* Cambia este valor al color que desees para el estado hover */
}



.container-fluid .botones_container .rojo button{
  background-color: #DC3545;
  color: white;
  padding: 10px; /* Ajusta el espaciado interior según sea necesario */
  border: none; /* Elimina el borde si no es necesario */
  cursor: pointer; /* Añade un indicador de cursor para resaltar la interactividad */
}

.container-fluid .botones_container .rojo button:hover {
  background-color: #68171f; /* Cambia este valor al color que desees para el estado hover */
}

.container-fluid .botones_container{
  display: flex;
  justify-content: space-between;
}



.container-fluid .botones_container button{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}



.container-fluid .botones_container i {
  color: white; /* Cambia este valor al color que desees para el icono */
  font-size: 1.5em; /* Ajusta el tamaño del icono según sea necesario */
  margin-left: 10px; /* Añade un espacio a la derecha del icono */
}






.btn_enviar{
  display: none; 
  background-color: green;
  padding: 10px; 
  border: none;
  cursor: pointer;
}

.btn_enviar:hover{
 
  background-color: rgb(1, 72, 1);
  
}

/*ESTADOS SOLICITUDES*/

/*ESTADOS*/

tbody td.Enviado {
  background-color: rgb(7, 96, 174);
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  padding: 8px; /* Añade espacio interno a la celda */
  border-radius: 8px; /* Añade bordes redondeados */
}

tbody td.Enviado:hover {
  background-color: rgb(2, 47, 86);
}



tbody td.Denegado {
  background-color: rgb(193, 29, 29);
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  padding: 8px; /* Añade espacio interno a la celda */
  border-radius: 8px; /* Añade bordes redondeados */
}

tbody td.Denegado:hover {
  background-color: rgb(134, 24, 24);
}




tbody td.Verificado {
  background-color: green;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  padding: 8px; /* Añade espacio interno a la celda */
  border-radius: 8px; /* Añade bordes redondeados */
}

tbody td.Verificado:hover {
  background-color: rgb(3, 84, 3);
}