#linkNombre a {
    cursor: pointer;
    text-decoration: none; /* Esto elimina el subrayado predeterminado del enlace */
    color: #000; /* Cambia el color del texto del enlace */
    transition: color 0.3s ease; /* Agrega una transición suave al cambio de color */
  font-weight: bold;
}

.readonly-field[readonly] {
    background-color: #f2f2f2; /* Cambia el color de fondo según tus preferencias */
    color: #555; /* Cambia el color del texto según tus preferencias */
}

body{
  background-color: #F4F6F9;
}

#linkNombre a:hover {
    color: #49BEFF; /* Cambia el color del texto del enlace al pasar el mouse sobre él */
}

body .page-wrapper .card {
  
  border-radius: 5px;
}

body .page-wrapper .card .card-header {
  background-color: rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
}


body .page-wrapper .card .card-body {
  border-radius: 5px;
}
body .page-wrapper .card .card-footer {
  background-color: white;
}
body .page-wrapper .card .card-header .card-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
}
label{
  font-weight: bold;
}

body .page-wrapper .card .modal .modal-dialog .modal-content{
  border: 2px solid rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
  border-radius: 5px;
}
body .page-wrapper .card .modal .modal-dialog .modal-content .modal-header {
  background-color: rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
}
body .page-wrapper .card .modal .modal-dialog .modal-content .modal-header .modal-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
}


.error-message {
  color: rgba(236, 57, 57, 0.616);
  background-color: #FEE7E1;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  border: 1px solid rgba(242, 75, 75, 0.728); /* Añadir borde rojo */
  border-radius: 10px;
  padding: 5px; /* Añadir relleno para mejorar el aspecto visual */
}



body .container-fluid #naranja{
  background-color: #FFC107;


}
body .container-fluid .card-body .iz h3{
  font-weight: bold;
  font-size: 40px;

 
}

body .container-fluid .card-body .icon {
  font-size: 50px;
  transition: font-size 0.1s ease; /* Transición para el cambio de tamaño con duración de 0.3 segundos y función de temporización ease */
}

body .container-fluid .card-body .icon:hover {
  font-size: 55px; /* Tamaño aumentado al pasar el cursor */
}

body .container-fluid #verde{
  background-color: #28A745;

}
body .container-fluid .card-body .iz{
  font-weight: bold;
  font-size: 40px;
}