*{
  color: black;
}


#linkNombre a {
    cursor: pointer;
    text-decoration: none; /* Esto elimina el subrayado predeterminado del enlace */
    color: #000; /* Cambia el color del texto del enlace */
    transition: color 0.3s ease; /* Agrega una transición suave al cambio de color */
  font-weight: bold;
}

.readonly-field[readonly] {
    background-color: #f2f2f2; /* Cambia el color de fondo según tus preferencias */
    color: #555; /* Cambia el color del texto según tus preferencias */
}

body{
  background-color: #F4F6F9;
}





td #cverde {
  color: rgb(41, 210, 228);
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}


/* Estilo predeterminado para el stock */
td #stock {
  color: green;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;


}

td h3:hover {
  transform: scale(1.2); 
}



td #crojo {
  color: red;
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
/* Efecto de zoom al pasar el cursor sobre el párrafo */
td p:hover {
  transform: scale(1.2); 
}



.table{
  text-align: center;
}

#linkNombre a:hover {
    color: #098f09; /* Cambia el color del texto del enlace al pasar el mouse sobre él */
}

body .page-wrapper .card {
  
  border-radius: 5px;
}

body .page-wrapper .card .card-header {
  background-color: #CFFFE2; /* 0.5 representa el 50% de transparencia */
  border: solid #098f0927;
}



 


body .page-wrapper .card .card-body {
  border-radius: 5px;
}
body .page-wrapper .card .card-footer {
  background-color: white;
}
body .page-wrapper .card .card-header .card-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
}
label{
  font-weight: bold;
}

body .page-wrapper .card .modal .modal-dialog .modal-content{
  border: 2px solid rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
  border-radius: 5px;
}
body .page-wrapper .card .modal .modal-dialog .modal-content .modal-header {
  background-color: rgba(255, 167, 38, 0.5); /* 0.5 representa el 50% de transparencia */
}
body .page-wrapper .card .modal .modal-dialog .modal-content .modal-header .modal-title {
  color: black;
  font-weight: bold;
  font-size: 22px;
}


.error-message {
  color: rgba(236, 57, 57, 0.616);
  background-color: #FEE7E1;
  font-size: 14px;
  margin-top: 5px;
  display: none;
  border: 1px solid rgba(242, 75, 75, 0.728); /* Añadir borde rojo */
  border-radius: 10px;
  padding: 5px; /* Añadir relleno para mejorar el aspecto visual */
}



body .container-fluid #naranja{
  background-color: #FFC107;


}
body .container-fluid .card-body .iz h3{
  font-weight: bold;
  font-size: 40px;

 
}

body .container-fluid .card-body .icon {
  font-size: 50px;
  transition: font-size 0.1s ease; /* Transición para el cambio de tamaño con duración de 0.3 segundos y función de temporización ease */
}

body .container-fluid .card-body .icon:hover {
  font-size: 55px; /* Tamaño aumentado al pasar el cursor */
}

body .container-fluid #verde{
  background-color: #28A745;

}
body .container-fluid .card-body .iz{
  font-weight: bold;
  font-size: 40px;
}





/*BOTONES DE LA TABLA*/

td > button > i {
  color: white;
}

.btn-info{
  background-color: #17A2B8;
  border: none;
}
.btn-warning{
  background-color: #d0a517;
  border: none;
}

.btn-danger{
  background-color: #DC3545;
  border: none;
}

.btn-success.btn-enviar{
  background-color: green;
  border: none;
}


.btn-info:hover{
  background-color: #0b5561;
}
.btn-warning:hover{
  background-color: #46390f;
}

.btn-danger:hover{
  background-color: #691820;
}

.btn-success.btn-enviar:hover{
  background-color: rgb(1, 63, 1);
}


.acciones{
  width: 150px;
}




/*BOTONES REGISTRO Y PDF*/
 .container-fluid .botones_container .celeste button{
  background-color: #17A2B8;
  color: white;
  padding: 10px; /* Ajusta el espaciado interior según sea necesario */
  border: none; /* Elimina el borde si no es necesario */
  cursor: pointer; /* Añade un indicador de cursor para resaltar la interactividad */
}

.container-fluid .botones_container .celeste button:hover {
  background-color: #0f606d; /* Cambia este valor al color que desees para el estado hover */
}



.container-fluid .botones_container .rojo button{
  background-color: #DC3545;
  color: white;
  padding: 10px; /* Ajusta el espaciado interior según sea necesario */
  border: none; /* Elimina el borde si no es necesario */
  cursor: pointer; /* Añade un indicador de cursor para resaltar la interactividad */
}

.container-fluid .botones_container .rojo button:hover {
  background-color: #68171f; /* Cambia este valor al color que desees para el estado hover */
}

.container-fluid .botones_container{
  display: flex;
  justify-content: space-between;
}



.container-fluid .botones_container button{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}



.container-fluid .botones_container i {
  color: white; /* Cambia este valor al color que desees para el icono */
  font-size: 1.5em; /* Ajusta el tamaño del icono según sea necesario */
  margin-left: 10px; /* Añade un espacio a la derecha del icono */
}






/*ESTADOS*/



tbody td.Enviado {
  font-size: 20px;
  font-weight: bold;
  color: #1e00ff; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Enviado:hover {
  color: #543efc; /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}






tbody td.Añadido {
  font-size: 20px;
  font-weight: bold;
  color: #ffd900; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Añadido:hover {
  color: #8e7a09; /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}










tbody td.Recibido {
  font-size: 20px;
  font-weight: bold;
  color: rgb(212, 118, 11); /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Recibido:hover {
  color: rgb(255, 169, 70); /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}



tbody td.Aprobado {
  font-size: 20px;
  font-weight: bold;
  color: green; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Aprobado:hover {
  color: rgb(8, 218, 8); /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}



tbody td.Denegado {
  font-size: 20px;
  font-weight: bold;
  color: rgb(193, 29, 29); /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Denegado:hover {
  color: rgb(255, 38, 38); /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}



tbody td.Entregado {
  font-size: 20px;
  font-weight: bold;
  color: #804000; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Entregado:hover {
  color: #d66d04; /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}



tbody td.Verificando {
  font-size: 20px;
  font-weight: bold;
  color: #06b8e5; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Verificando:hover {
  color: #085569; /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}





tbody td.Operando {
  font-size: 20px;
  font-weight: bold;
  color: green; /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Operando:hover {
  color: rgb(8, 218, 8); /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}


tbody td.Agotado {
  font-size: 20px;
  font-weight: bold;
  color: rgb(193, 29, 29); /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Agotado:hover {
  color: rgb(255, 38, 38); /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}












tbody td.Deshabilitado {
  font-size: 20px;
  font-weight: bold;
  color: rgb(193, 29, 29); /* Color inicial */
  transition: color 0.3s ease, transform 0.3s ease; /* Transición para color y transformación */
}

tbody td.Deshabilitado:hover {
  color: rgb(255, 38, 38); /* Nuevo color al pasar el cursor */
  transform: scale(1.2); /* Efecto de zoom al 120% al pasar el cursor */
}




